<footer>
    <sectioin class="footerSection">
        <div class="footerContainer">
            <div class="quickAccessBox">
                <h3>Quick Access</h3>
                <ul>
                    <li><a href="~/Home/HomePage" class="">Home</a></li>
                    <li><a href="~/Home/About" class="">About</a></li>
                    <li><a href="~/Home/Contact" class="">Contact</a></li>
                    <li><a href="~/Home/Index" class="">Sign In</a></li>
                    <li><a href="~/Home/Register" class="">Sign Up</a></li>
                </ul>
            </div>
            <div class="footercontactbox">
                <h3>Quick Contact us</h3>
                <h2>USA</h2>
                <p class="footerlocation">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>
                        ClaySys Technologies<br />
                        4750 Ashwood Dr<br />
                        Blue Ash<br />
                        Cincinnati<br />
                        Ohio 45241<br />
                        USA
                    </span>
                </p>
                <p class="footerlocation"><i class="fa-solid fa-phone"></i><span>+1 (704)-858-2084</span></p>
            </div>
            <div class="socialIconBox">
                <h3>Follow us</h3>
                <div class="socialIcons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div>Copyright © 2024, ClaySys Technologies All Rights Reserved.</div>
    </sectioin>
</footer>