
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@Styles.Render("~/Content/Styles/HomePage.css")
<div class="MainContainer">
    <div class="contentBox">
        <div class="contentContainer">
            <h1>Transform your Career with</h1>
            <h1 class="demandHead">100+ In-demand Industry-Recognized Certifications</h1>
            <div class="homeContent">
                <h3>leader in your field</h3>
                <h3>1Mn+ Successful Learners</h3>
                <h3>1500+ Guaranteed to run sessions every month</h3>
            </div>
            <a href="~/Home/Index" class="exploreButton">Explore Program</a>
        </div>
    </div>
    <div class="ImageBox">
        <img src="https://www.simplilearn.com/ice9/assets/banner-right-web.webp" />
    </div>

</div>

