@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@Styles.Render("~/Content/Styles/login.css")
@if (TempData["Logout"] != null) { 
    <script type="text/javascript">
        function previeve() { window.history.forward(); }
        setTimeout(previeve(), 0);
        window.onunload = function () { null; }
    </script>
}
<main>
    <div class="maincontainer">
        <form class="login-form"  action="#" method="post" id="LoginForm">
            <div class="heading-box borderStyle">
                <h4 style="color:green">Welcome Back</h4>
                <h4>Login</h4>
            </div>
            @{ 
                if(TempData["LoginResult"] != null)
                {
                    <small class="headError">@TempData["LoginResult"]</small>
                }
            }
            
            <div class="email-box borderStyle display-flex flex-column">
                <label class="input-label">Email</label>
                <input class="input-border input" type="email" id="email" name="Email" onblur="EmailValid()"/>
                <small id="email-msg"></small>
            </div>
            <div class="pwd-box borderStyle display-flex flex-column" style="position: relative;">
                <label class="input-label">Password</label>
                <input class="input-border input" type="password" id="pwd" name="Password" onblur="PasswordValid()" style="padding-right:30px"/>
                <small id="pwd-msg"></small>
                <i class="fas fa-eye-slash" id="togglePwd" style="position: absolute; right: 18px; top: 50px; cursor: pointer;" onclick="togglePassword()"></i>
            </div>
            <div class="remember-box borderStyle display-flex alignCenter">
                <div class="remember-box">
                    <input class="remember-border" type="radio" name="remember" />
                    <label class="input-label" for="rember">Remember Me</label>
                </div>
                <div>
                    <a href="#" id="forgotPwd">Forgot Password</a>
                </div>
            </div>
            <div class="loginBtn-box">
                <button  id="loginBtn" >Login</button>
            </div>
            <div class="account-box">
                Don't have an account?
                <a href="Register" id="signUp">Sign Up</a>
            </div>
        </form>
       

    </div>
    
</main>
@Scripts.Render("~/Scripts/Login.js")