
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@Styles.Render("~/Content/Styles/Register.css")
<div class="mainContainer">
    <form class="form" action="~/Home/Register" method="post" id="RegisterForm">
        <div class="header">
            <h2 class="heading">Create Your Account</h2>
            <h3 class="heading">Join us today <span style="color:deeppink">&</span> Start your journey<span style="color:deeppink">!</span></h3>
        </div>
        @if (ViewBag.Error != null) { 
            <span style="display:block;padding:10px 10px;color:red;background-color:#f5b7b7;margin-bottom:5px;border-radius:5px;">@ViewBag.Error</span>
        }

        <div class="personal-info">
            <div class="grid" style="margin-bottom:20px;">
                <div class="firstNameBox">
                    <label asp-for="FirstName">First Name</label>
                    <input type="text" value="" id="firstName" name="FirstName" onblur="FirstNameValid()" />
                    <small id="firstNameError" class="error"></small>
                </div>
                <div class="lastNameBox">
                    <label>Last Name</label>
                    <input type="text" value="" id="lastName" name="LastName" onblur="LastNameValid()" />
                    <small id="lastNameError" class="error"></small>
                </div>
            </div>
            <div class="grid">
                <div class="usernameBox">
                    <label>User Name</label>
                    <input type="text" value="" id="userName" name="UserName" onblur="UserNameValid()" />
                    <small id="userNameError" class="error"></small>
                </div>
                <div class="pwdBox" style="position:relative">
                    <label>Password</label>
                    <input type="password" value="" id="pwd" name="Password" onblur="PasswordValid()" />
                    <small id="pwdError" class="error"></small>
                    <i class="fas fa-eye-slash" id="togglePwd" style="position: absolute; right: 10px; top: 40px; cursor: pointer;" onclick="togglePassword()"></i>
                </div>
                <div class="date-box">
                    <label>Date of Birth</label>
                    <input type="date" value="" max="2006-05-05" id="date" name="DOB" required onblur="DobValid()" />
                    <small id="dateError"></small>
                </div>
                <div class="gender-box">
                    <label>Gender</label>
                    <select id="gender" name="Gender" onblur="GenderValid()">
                        <option >Choose Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <small id="genderError"></small>
                </div>
                <div class="emailBox">
                    <label>Email</label>
                    <input type="email" value="" id="email" name="Email" onblur="EmailValid()" />
                    <small id="emailError" class="error"></small>
                </div>
                <div class="mobileBox">
                    <label>Mobile</label>
                    <input type="number" value="" id="mobile" name="PhoneNumber" onblur="MobileValid()" />
                    <small id="mobileError" class="error"></small>
                </div>
                <div class="address-box grid">
                    <div class="addressBox">
                        <label class="">Address</label>
                        <input type="text" class="" id="address" name="Address" onblur="AddressValid()" />
                        <small id="addressError" class="error"></small>
                    </div>
                    <div class="state-box">
                        <label>State</label>
                        <select id="state" name="State" onblur="StateValid()">
                            <option>Choose State</option>
                            
                        </select>
                        <small id="stateError"></small>
                    </div>
                    <div class="city-box">
                        <label>City</label>
                        <select id="city" name="City" onblur="CityValid()">
                            <option>Choose City</option>                           
                        </select>
                        <small id="cityError"></small>
                    </div>

                </div>

            </div>
        </div>
        <div class="rememberBox">
            <input type="checkbox" id="remember" />
            <label for="remember">Remember Me</label>
        </div>
        <div class="submit-box">
            <input type="submit" id="submitBtn" class="submitBtn" value="Register" />
        </div>
        <div class="account">
            If already have an account? <a href="Index">Login</a>
        </div>
    </form>
</div>

@Scripts.Render("~/Scripts/Register.js")
<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script>
    $(document).ready(function () {
       
         $.ajax({
             url: 'https://localhost:44363/Home/State', // URL of the server
              method: 'GET', // or "POST" for sending data
              success: function (response) {
                  $('#state').html("<option>Choose State</option>")
                  response.states.map(value => {
                      $('#state').append("<option>"+value.state+"</option>")
                  });                 
              },
              error: function (xhr, status, error) {
                  // Handle the error
                  console.log(error)
              }
         });

        $('#state').change(function () {
            let Statevalue = $(this).val();
            $("#city").html("<option>Choose City</option>")
            $.ajax({
                url: 'https://localhost:44363/Home/State',
                method: 'GET',
                success: function (response) {
                    response.states.map(value => {
                        if (value.state == Statevalue) {
                            value.cities.map(city => {
                                $("#city").append("<option>" + city + "</option>")
                            })
                        }
                    });
                },
                error: function (xhr, status, error) {
                    console.log(error)
                }
            });
        })
        $('#userName').blur(function () {
            if ($('#userName').val() != "") {

                $.ajax({
                    url: 'https://localhost:44363/Home/GetUserByUsername?username=' + $('#userName').val(),
                    method: 'GET',
                    success: function (response) {
                        if (response != "") {
                            $("#userNameError").text("Already Exist");
                        }
                        else {
                            $("#userNameError").text("");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(error)
                    }
                });
            } else {
                $("#userNameError").text("Username Empty");
            }
        })

        $('#email').blur(function () {
            if ($('#email').val() != "") {
                $.ajax({
                    url: 'https://localhost:44363/Home/GetUserByEmail?email=' + $('#email').val(),
                    method: 'GET',
                    success: function (response) {
                        if (response != "") {
                            $("#emailError").text("Already Exist");
                        }
                        else {
                            $("#emailError").text("");
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle the error
                        console.log(error)
                    }
                });
            } else {
                $("#emailError").text("Email Empty");
            }
        })


    });
</script>

