
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@Styles.Render("~/Content/Styles/Register.css")
<div class="mainContainer">
    <form class="form" action="~/Home/Register" method="post" id="RegisterForm">
        <div class="header">
            <h2 class="heading">Create Your Account</h2>
            <h3 class="heading">Join us today <span style="color:deeppink">&</span> Start your journey<span style="color:deeppink">!</span></h3>
        </div>
        <div class="personal-info">
            <div class="grid">
                <div class="firstNameBox">
                    <label>First Name</label>
                    <input type="text" value="" id="firstName" name="FirstName" onblur="FirstNameValid()" />
                    <small id="firstNameError" class="error"></small>
                </div>
                <div class="lastNameBox">
                    <label>Last Name</label>
                    <input type="text" value="" id="lastName" name="LastName" onblur="LastNameValid()" />
                    <small id="lastNameError" class="error"></small>
                </div>
            </div>
            <div class="grid">
                <div class="usernameBox">
                    <label>User Name</label>
                    <input type="text" value="" id="userName" name="UserName" onblur="UserNameValid()" />
                    <small id="userNameError" class="error"></small>
                </div>
                <div class="pwdBox">
                    <label>Password</label>
                    <input type="password" value="" id="pwd" name="Password" onblur="PasswordValid()" />
                    <small id="pwdError" class="error"></small>
                </div>
                <div class="date-box">
                    <label>Date of Birth</label>
                    <input type="date" value="" max="2006-05-05" id="date" name="DOB" required />
                    <small class="dateError"></small>
                </div>
                <div class="gender-box">
                    <label>Gender</label>
                    <select id="state" name="Gender">
                        <option>Choose Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <small id="genderError"></small>
                </div>
                <div class="emailBox">
                    <label>Email</label>
                    <input type="email" value="" id="email" name="Email" onblur="EmailValid()" />
                    <small id="emailError" class="error"></small>
                </div>
                <div class="mobileBox">
                    <label>Mobile</label>
                    <input type="number" value="" id="mobile" name="PhoneNumber" onblur="MobileValid()" />
                    <small id="mobileError" class="error"></small>
                </div>
                <div class="address-box grid">
                    <div class="addressBox">
                        <label class="">Address</label>
                        <input type="text" class="" id="address" name="Address" onblur="AddressValid()" />
                        <small id="addressError" class="error"></small>
                    </div>
                    <div class="state-box">
                        <label>State</label>
                        <select id="state" name="State">
                            <option>Choose State</option>
                            <option >Andhra Pradesh</option>
                            <option >Arunachal Pradesh</option>
                            <option >Assam</option>
                            <option >Bihar</option>
                            <option >Chhattisgarh</option>
                            <option >Goa</option>
                            <option >Gujarat</option>
                            <option >Haryana</option>
                            <option >Himachal Pradesh</option>
                            <option >Jharkhand</option>
                            <option >Karnataka</option>
                            <option >Kerala</option>
                            <option >Madhya Pradesh</option>
                            <option >Maharashtra</option>
                            <option >Manipur</option>
                            <option >Meghalaya</option>
                            <option >Mizoram</option>
                            <option >Nagaland</option>
                            <option >Odisha</option>
                            <option >Punjab</option>
                            <option >Rajasthan</option>
                            <option >Sikkim</option>
                            <option >Tamil Nadu</option>
                            <option >Telangana</option>
                            <option >Tripura</option>
                            <option >Uttar Pradesh</option>
                            <option >Uttarakhand</option>
                            <option >West Bengal</option>
                        </select>
                        <small id="stateError"></small>
                    </div>
                    <div class="city-box">
                        <label>City</label>
                        <select id="city" name="City">
                            <option>Choose City</option>
                            <option >Chennai</option>
                            <option >Coimbatore</option>
                            <option >Madurai</option>
                            <option >Tiruchirappalli</option>
                            <option >Salem</option>
                            <option >Tirunelveli</option>
                            <option >Vellore</option>
                            <option >Thanjavur</option>
                            <option >Aruppukottai</option>
                            <option >Dindigul</option>
                            <option >Kumbakonam</option>
                            <option >Kanchipuram</option>
                            <option >Ramanathapuram</option>
                            <option >Nagercoil</option>
                            <option >Tuticorin</option>
                            <option >Virudhunagar</option>
                        </select>
                        <small id="cityError"></small>
                    </div>

                </div>

            </div>
        </div>
        <div class="rememberBox">
            <input type="checkbox" id="remember" />
            <label for="remember">Remember Me</label>
        </div>
        <div class="submit-box">
            <input type="submit" id="submitBtn"  class="submitBtn" value="Register" />
        </div>
        <div class="account">
            If already have an account? <a href="Index">Login</a>
        </div>
    </form>   
</div>
@Scripts.Render("~/Scripts/Register.js")


