.aboutContainer{
    display:flex;
    padding:30px;
    width:95%;
    justify-content:center;
    align-items:center;
    height:calc(100vh - 80px);
}
.aboutContent{
    width:40%;
    padding:10px 40px 10px 20px;
    
}
.aboutContent h2{
    font-size:30px;
    font-weight:700;
}
.aboutContent p{
    font-size:16px;
    text-align:justify;
}
.AboutImageBox{
     width:40%;
     padding:10px;
    
 }
.AboutImageBox img {
     width: 100%;
     object-fit: cover;
     border-radius: 10px;
}