﻿ /*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
}*/
@@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, body {
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width:97vw;
}
.navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e3d3d3;
    padding: 0 50px;
}

.logoBox {
    height: 100%;
    padding: 10px;
}

    .logoBox img {
        height: 100%;
        object-fit: cover;
    }

.menu {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.menu li {
    list-style: none;
    height: 100%;
    line-height: 70px;
}

.menuItem {
    text-decoration: none;
    height: 100%;
    padding: 8px 16px;
    font-size: 18px;
}
.menuItem:hover {
    background-color: #b9acac;
}

footer {
    width: 100vw;
}

.footerSection {
    padding: 20px;
    background-color: #e1dbdb; /*
    background-color:red;*/
    display: block;
    width: 100%;
    height: max-content;
}
.Sidebar {
    width: 240Px;
    min-width:240px;
    height: 100vh;
    background-color: #e3d3d3;
    margin-top:5px;
    padding-top:30px;
}
.sidebarMenu{
    width:calc(100% -20px);
    padding:10px;
}
.sidebarList{
    padding:10px 0 ;
    list-style:none;
    text-align:center;
    margin-bottom:10px;
}
.sidebarList:hover{
    background-color:#b9acac;
}
.sidebarItem{
    text-decoration:none;
    font-size:16px;
}
main{
    display:flex;
}
.renderContainer{
    padding:10px;
}