﻿@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

input {
    border-radius: 3px;
    outline: none;
    border: 1px solid #808080;
}

.mainContainer {
    min-height: 100vh;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0,0,0,0.34),rgba(0,0,0,0.4)), url(https://wallpapercave.com/wp/wp9764081.jpg);
    background-size: cover;
}


.form {
    width: 600px;
    margin: 50px auto;
    padding: 20px 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.heading {
    color: #333;
    font-size: 22px;
    margin: 10px 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.firstNameBox, .lastNameBox, .usernameBox, .pwdBox, .date-box, .gender-box, .emailBox, .mobileBox, .addressBox, .state-box, .city-box {
    display: flex;
    flex-direction: column;
}

.addressBox, .address-box {
    grid-column: span 2;
}
label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

    input:focus, select:focus {
        border-color: #4caf50;
        outline: none;
    }

small {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.error {
    display: block;
}

.submit-box {
    text-align: center;
    margin-top: 20px;
}

.submitBtn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .submitBtn:hover {
        background-color: #388e3c;
    }

.rememberBox {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.rememberBox input[type="checkbox"] {
    margin-right: 10px;
}
.rememberBox label{
    margin-bottom:0px;
}

.account {
    text-align: center;
    margin-top: 20px;
}

    .account a {
        color: #4caf50;
        text-decoration: none;
        transition: color 0.3s;
    }

        .account a:hover {
            color: #388e3c;
        }

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

