USE [ClaySys]
GO
/****** Object:  StoredProcedure [dbo].[SPR_SingleUser]    Script Date: 9/16/2024 12:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[SPR_SingleUser]
		
		@Email varchar(50),
		@Password varchar(50)		
	
	as
	begin
		select * from UserDetails where Email=@Email and Password=@Password	and DeleteStatus = 'No'	
	end