
@{
    ViewBag.Title = "AddCourse";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@Styles.Render("~/Content/Styles/AddCourse.css")
<div>
    <form action="~/Admin/AddCourse" method="post">
        <h1>Add Course</h1>
        @if(ViewBag.Message != null)
            {
                <small>@ViewBag.Message</small>
            }
        <div class="inputGroup" >
            <label>Course Name</label><br />
            <input type="text" id="coursename" name="Coursename" />
            <small id="coursenameError"></small>
        </div>
        <div class="inputGroup">
            <label>Course Catagory</label><br />
            <input type="text" id="coursecatagory" name="CourseCatagory" />
            <small id="coursecatagoryError"></small>
        </div>
        <div class="inputGroup">
            <label>Course Source</label><br />
            <input type="text" id="coursesrc" name="Coursesrc" />
            <small id="coursesrcError"></small>
        </div>
        <div class="inputGroup">
            <label>Course Desc</label><br />
            <textarea id="coursedesc" name="Coursedesc"></textarea>
            <small id="coursedescError"></small>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

