
@{
    ViewBag.Title = "AddCourse";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@Styles.Render("~/Content/Styles/AddCourse.css")
<div class="addcourseContainer">
    <form action="~/Admin/AddCourse" method="post" enctype="multipart/form-data">
        <h1>Add Course</h1>
        @if (ViewBag.Message != null)
        {
            <small>@ViewBag.Message</small>
        }
        <div class="inputGroup">
            <label>Course Name</label><br />
            <input type="text" id="coursename" name="Coursename" onblur="CourseNameValid()" />
            <small id="coursenameError"></small>
        </div>
        <div class="inputGroup">
            <label>Course Catagory</label><br />
            <input type="text" id="coursecatagory" name="CourseCatagory" onblur="CourseCatagoryValid()" />
            <small id="coursecatagoryError"></small>
        </div>
        <div class="inputGroup">
            <label>Course Source</label><br />
            <input type="text" id="coursesrc" name="Coursesrc" onblur="CoursesrcValid()" />
            <small id="coursesrcError"></small>
        </div>
        <div class="inputGroup">
            <label>Course Description</label><br />
            <textarea id="coursedesc" name="Coursedesc" onabort="CoursedescValid()"></textarea>
            <small id="coursedescError"></small>
        </div>
        <div class="inputGroup">
            <label>Course Image</label><br />
            <input type="file" name="Courseimage" accept="image/*" />
            <small id="courseImageError"></small>
        </div>
        <div class="inputGroup">
            <label>Course Type</label><br />
            <select name="CourseType">
                <option value="Free">Free</option>
                <option value="Paid">Paid</option>
            </select>
            <small id="coursetypeError"></small>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
@Scripts.Render("~/Scripts/Script/AddCourse.js")
