<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="https://5.imimg.com/data5/SELLER/Default/2023/10/355104217/CP/GF/JH/11226986/claysys-appforms-software-500x500.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    @Styles.Render("~/Content/Styles/UserNavbar.css")
    <style>
        * {
            padding: 0;
            margin: 0;
            font-family: "Poppins",sans-serif;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="logoBox">
            <img src="https://s.financesonline.com/uploads/2019/12/claysys-logo1.png" />
        </div>
        <ul class="menu">
            <li><a href="~/Home/HomePage" class="menuItem">Home</a></li>
            <li><a href="~/Home/About" class="menuItem">About us</a></li>
            <li><a href="~/Home/Index" class="menuItem">Sign In</a></li>
            <li><a href="~/Home/Register" class="menuItem">Sign Up</a></li>
            <li><a href="~/Home/Contact" class="menuItem">Contact</a></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer>
        <sectioin class="footerSection">
            <div class="footerContainer">
                <div class="quickAccessBox">
                    <h3>Quick Access</h3>
                    <ul>
                        <li><a href="~/Home/HomePage" class="">Home</a></li>
                        <li><a href="~/Home/About" class="">About</a></li>
                        <li><a href="~/Home/Contact" class="">Contact</a></li>
                        <li><a href="~/Home/Index" class="">Sign In</a></li>
                        <li><a href="~/Home/Register" class="">Sign Up</a></li>
                    </ul>
                </div>
                <div class="footercontactbox">
                    <h3>Quick Contact us</h3>
                    <h2>USA</h2>
                    <p class="footerlocation">
                        <i class="fa-solid fa-location-dot"></i>
                        <span >
                            ClaySys Technologies<br />
                            4750 Ashwood Dr<br />
                            Blue Ash<br />
                            Cincinnati<br />
                            Ohio 45241<br />
                            USA
                        </span>
                    </p>
                    <p class="footerlocation"><i class="fa-solid fa-phone"></i><span>+1 (704)-858-2084</span></p>
                </div>
                <div class="socialIconBox">
                    <h3>Follow us</h3>
                    <div class="socialIcons">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div>Copyright © 2024, ClaySys Technologies All Rights Reserved.</div>
        </sectioin>
    </footer>
</body>
</html>
