
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LogUserLayout.cshtml";
}
@Styles.Render("~/Content/Styles/UserIndex.css")
<div class="userMainContainer">
    <h2>UserIndex</h2>
    <div class="courseContainer">
        <div class="course">
            <iframe src=" " width="250" height="200"></iframe>
            <div class="courseContent">
                <h3>Course Title : Java</h3>
                <h4>Course Catagory : Back End</h4>
                <p>Description :</p>
                <p>lorem Content</p>
                <button class="enrollBtn">Enroll</button>
            </div>
        </div>
    </div>

</div>

